services:

  verbecc-svc:
    image: "bretttolbert/verbecc-svc:latest"
    container_name: verbecc-svc
    environment:
      - foo=bar
    expose:
      - "8000"
    networks:
      - verbecc-proxy-network

  verbecc-ui:
    build: ./verbecc-ui
    container_name: verbecc-ui
    depends_on:
      - verbecc-svc
    ports:
      - "80:80"
    networks:
      - verbecc-proxy-network

networks:
  verbecc-proxy-network:
    driver: bridge
