#input_div {
  margin-top: 10px;
  text-align: center;
}
#footer_div {
  text-align: center;
}
.outer-wrapper {
  border: 0;
  margin: 10px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  max-width: 1000px;
}
@media screen and (min-width: 1024px) {
  /* Desktop-only CSS rules go here */
  .outer-wrapper {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  }
}
.mood-wrapper {
  border: #a2b3d4 1px solid;
  margin: 10px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.tense-wrapper {
  background: #a2b3d4;
  margin: 10px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.mood-label {
  letter-spacing: 0.1em;
  text-align: left;
}
.tense-label {
  letter-spacing: 0.1em;
  text-align: left;
  font-weight: bold;
}
.ending {
  color: #cc3333;
  font-weight: bold;
}
.ui-autocomplete-loading {
  background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
}
tr.gender-masculine {
  background-color: rgba(27, 27, 149, 0.1);
}
tr.gender-feminine {
  background-color: rgba(122, 26, 122, 0.1);
}
tr.conjugation {
  letter-spacing: 0.1em;
}
