.outer-wrapper {
  border: #a2b3d4 1px solid;
  margin: 10px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
} 
.mood-wrapper {
  border: 0;
  margin: 10px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.tense-wrapper {
  background: #a2b3d4;
  margin: 10px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.h-centered {
  text-align: center;
}